/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: inherit;
}

.header-contenedor-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.logo-pagina{
    display: flex;
    align-items: center;
}


.logo-pagina h1 {
    margin-top: 15px;
    margin-right: 10px; /* Ajusta el espacio entre el h1 y la imagen según sea necesario */
    font-size: 25px;
}

.logo-pagina img {
    max-height: 60px; /* Ajusta la altura de la imagen según sea necesario */
}

.searcher{
    height: 20px;
    width: 600px;
    align-items: center;
}

.searcher-content{
    height: 100%;
    width: 100%;
    align-items: center;
}

.block-searcher {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;

    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fff;

    width: 100%;
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    height: 100%; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    align-items: center;
}
.block-searcher input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    margin-left: 10px;
}

.block-searcher button {
    padding: 0px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}


.rigthHeader{
    display: flex;
    align-items: center;
    
}

.iconos-header{
    margin-left: 10px;
}

.iconos-header:hover{
    cursor: pointer;
}

.iconos-rigth-header {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
    stroke: currentColor; /* Usa el color actual del texto */
    fill: none; /* Asegúrate de que el relleno esté configurado correctamente */
    padding: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.sidebar h3, .sidebar h4 {
    margin-top: 0;
}

.filter-group {
    margin-bottom: 20px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    padding: 10px;
}

.producto {
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.producto:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.producto:hover img{
    transform: scale(1.2);
}

.producto img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
}

.price {
    font-weight: bold;
    color: #333;
}

/* Botones y formularios */
input[type="checkbox"], input[type="number"], input[type="text"] {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


/* Estilos para la ventana emergente */
.ventana-emergente {
    display: none; /* Oculta la ventana por defecto */
    position: fixed; /* Fija la ventana en la pantalla */
    z-index: 1; /* Asegura que la ventana esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.ventana-emergente-contenido {
    background-color: #fff;
    margin: 15% auto; /* Centra la ventana */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 600px; /* Ancho máximo */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
