/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: inherit;
}

.header-contenedor-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contenedor-principal h1{
    margin: 0;
}

.logo-pagina{
    display: flex;
    align-items: center;
}


.logo-pagina h1 {
    margin-right: 10px; /* Ajusta el espacio entre el h1 y la imagen según sea necesario */
}

.logo-pagina img {
    max-height: 50px; /* Ajusta la altura de la imagen según sea necesario */
}




.searcher input {
    padding: 5px;
    font-size: 16px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.rigthHeader{
    display: flex;
    align-items: center;
    
}

.iconos-rigth-header {
    width: 24px; /* Ajusta el tamaño según sea necesario */
    height: 24px; /* Ajusta el tamaño según sea necesario */
    stroke: currentColor; /* Usa el color actual del texto */
    fill: none; /* Asegúrate de que el relleno esté configurado correctamente */
    padding: 10px;
}

.content {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.sidebar h3, .sidebar h4 {
    margin-top: 0;
}

.filter-group {
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    padding: 10px;
}

.producto {
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #333;
}

/* Botones y formularios */
input[type="checkbox"], input[type="number"], input[type="text"] {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
